@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

*::selection{
    color: yellow;
    background-color: rgb(68, 186, 255);
    /* height: 500px; */
}
html{
    scroll-behavior: smooth;
}
:root{

--white-color: #fff;
--dark-color: #252525;
--primary-color: #3b141c;    /* 3986c5 */
--secondary-color: #f3961c;
--light-pink-color: #faf4f5;
--medium-gray-color: #ccc;


--font-size-s: 0.9rem;
--font-size-n: 1rem;
--font-size-m: 1.12rem;
--font-size-l: 1.5rem;
--font-size-xl: 2rem;
--font-size-xxl: 2.3rem;

--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

--border-radius-s:8px;
--border-radius-m:30px;
--border-radius-circle:50%;
--site-max-width:1300px;
}
header{
    background-color:var(--primary-color) ;
    width: 100%;
    position: fixed;
    z-index: 5;
    width: 100%;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
.navbar .nav-logo{
    text-decoration: none;
}
.logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.section-content{
    padding: 0 20px;
    max-width: var(--site-max-width);
    width: 100%;
} 
.nav-ul{
    list-style: none;
    padding: 20px;
    display: flex;
    gap: 10px;
 
}

.navbar .nav-ul .nav-link{
    padding: 10px 20px;
    color: var(--white-color);
    text-decoration: none;
    border-radius: var(--border-radius-circle);
    font-size: var(--font-size-m);
    transition: 0.3s ease
}

.navbar .nav-ul .nav-link:hover{
     color: var(--primary-color);
    background-color: var(--secondary-color); 
}

.navbar #close-button,
.navbar #open-button {
  display: none;
}

/* hero part */

.hero{
    background-color: var(--primary-color);
    min-height: 100vh;

}
.hero-content{
display: flex;
align-items: center;
color: var(--white-color);
min-height: 100vh;
justify-content: space-between;
}
.hero-details{
    padding: 40px;
}
.title{
    font-size: var(--font-size-xxl);
    font-family: "Miniver",sans-serif;
    color: var(--secondary-color);
}
.subtitle{
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    margin-top: 8px;
    max-width: 70%;
}

.des{
    font-size: var(--font-size-m);
    margin: 24px 0 40px;
    max-width: 70%;
}

.hero-image{
max-width: 300px;
margin: 50px;
}
.buttons{
    display: flex;
    gap: 20px;
}

.button {
background-color: var(--secondary-color);
color: var(--primary-color);
border-radius: var(--border-radius-m);
font-weight: var(--font-weight-medium);
text-decoration: none;
padding: 10px 25px;
border: 2px solid transparent;
}
.button:hover{
    color: var(--white-color);
    background-color: transparent;
    border-color: var(--white-color);
    transition: 0.3s ease;
}

/* about styling */
.about-section{
    padding: 120px 0;
    background: var(--light-pink-color);
}
.about-content{
margin: 100px 0;    
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.about-details{
    max-width: 60%;
}
 .image-about{
width: 300px;
height: 300px;
border-radius:var(--border-radius-circle);
object-fit: contain;
}
.section-title{
   padding: 0;
    font-size: var(--font-size-xl);
    text-align: center;
    text-transform: uppercase;
}
.section-title::after{
    content: "";
    background-color: var(--secondary-color);
    margin: 10px auto 0;
    width: 80px;
    height: 5px;
    display: block;
    border-radius: var(--border-radius-s);
}
.about-text{
    text-align: center;
    line-height: 30px;
    font-size: var(--font-size-m);
    margin: 50px 0 30px;

}
.about-details .social-links{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.about-details .social-links .social-link{
    font-size: var(--font-size-l);
    color: var(--primary-color);
    transition: 0.2s ease;
}

.about-details .social-links .social-link:hover{
color: var(--secondary-color);
}

/* menu styling */

.menu-content{
    padding: 0 40px;
    margin: 0 auto;
    max-width: var(--site-max-width);
}
.menu-section {
    background-color: antiquewhite;
    padding: 50px 0 100px;
}

.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
  gap: 20px;
}

.menu-section .menu-list .menu-item {
  flex: 1 1 calc(33.333% - 20px); /* 3 items per row */
  box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.menu-section .menu-list .menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
 

}
.menu-section .menu-list  .menu-item .menu-image{
    width: 100%;
    max-width: 140px;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
    
}
.menu-section .menu-list  .menu-item .menu-image:hover{
transform: scale(1.2);
cursor: pointer;
}

.menu-section .menu-list  .menu-item .text-menu{
font-size: var(--font-size-m);
}
.menu-section .menu-list  .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list  .menu-item .menu-category{
text-decoration: none;
margin: 12px 0;
font-size: var(--font-size-l);
font-weight: var(--font-weight-semibold);
color: var(--dark-color);
}


.menu-section .menu-list  .menu-item .menu-category:hover{
    color: var(--secondary-color);
}



/* Menu categories */
.section-titles{
   padding: 0;
    font-size: var(--font-size-xl);
    text-align: center;
    text-transform: uppercase;
    color: #ffda8f;
}
.section-titles::after{
    content: "";
    background-color: var(--secondary-color);
    margin: 10px auto 0;
    width: 80px;
    height: 5px;
    display: block;
    border-radius: var(--border-radius-s);
}


.beverages-section{
   background:var(--primary-color);  /*rgb(250, 250, 206)*/
  padding: 40px 20px; 
  min-height: 100vh;
}

.menu-items {
  padding: 10px;
  max-width: 900px;
  margin: 10px auto;
}

.menu-i {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  border-bottom: 1px dashed #c8b89a;
  padding: 12px 0;
}

.item-name {
  font-weight: bold;
  color: #ffda8f;
  margin: 0 0 4px 0;
  font-size: var(--font-size-l);
}

.item-desc {
  font-size:1.2rem;
 color:white;
  margin-top: 3px;
  max-width: 70%; 
}


.item-price {
    font-size: var(--font-size-l);
  font-weight: bold;
  color:white;
  white-space: nowrap;
  margin-left: 20px;
}
.back-btn{
    display: flex;
  justify-content: flex-start; 
  margin-top: 20px;
}
.btn{
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--secondary-color);
  color:var(--white-color);
  border-radius: 50px;
  transition: transform 0.5s ease;
}

.btn:hover{
  border: 2px solid transparent; 
  transform: scale(1.1);
}










/* testimonials section styling */
.testimonials-section{
    padding: 50px 0 100px;
    background-color: var(--light-pink-color);
}
.testimonials-section .testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;
    margin: 100px 0;
}
.testimonials-section .testimonial .user--image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    margin-bottom: 10px;
}
.testimonials-section .testimonial .testimonial-name{
    font-size: var(--font-size-m);
    margin-bottom: 5px;
}
.testimonials-section .testimonial .feedback{
    line-height: 25px;
}
.testimonials-section .swiper-pagination-bullet{
    width:15px;
    height: 15px;
    background-color: var(--secondary-color);
    opacity: 1;
}
.testimonials-section .swiper-slide-button{
    color: var(--secondary-color);
    transition: 0.3s ease;
    margin-top: -50px;
}   
.testimonials-section .swiper-slide-button:hover{
    color: var(--primary-color);
}
.testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}

/* gallery ection styling */
.gallery-content{
    padding: 20px auto;
    margin: 20px auto;
    max-width: var(--site-max-width);
}
.gallery-section{
    padding: 50px 0 100px;
}
.gallery-section .gallery-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 32px;
}
.gallery-section .gallery-list .gallery-item{
    flex: 1 1 calc(33.333% - 32px);
    border-radius: var(--border-radius-s);
    overflow: hidden;
}
.gallery-section .gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    cursor: zoom-in;
}
.gallery-section .gallery-item .gallery-image:hover{
    transform: scale(1.3);
}

/* Contact us styling */
.contact-content{
    padding: 20px auto;
    margin: 100px auto;
    max-width: var(--site-max-width);
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;

}
.contact-section{
    padding: 50px 0 100px;
    background-color: var(--light-pink-color);
}
.contact-list .contact-info{
    display: flex;
    gap: 20px;
    padding: 5px;
    margin: 10px;
    align-items: center;
    font-size: var(--font-size-l);
}
.form-input{
margin: 15px;    
border: 1px solid rgb(177, 209, 219);
margin-bottom: 15px;
width: 100%;
height: 50px;
border-radius: var(--border-radius-s);
outline: none;
padding: 0 12px;
font-size: var(--font-size-m);


}
.form-input textarea{
height: 100px;
resize: vertical;
padding: 12px;
}
.submit{   
display: block;
font-size: var(--font-size-m);
font-weight: var(--font-weight-medium);
background-color: var(--secondary-color);
padding: 10px ;
margin-left: 20px;
color: var(--white-color); border-radius: var(--border-radius-m);
transition: 0.3s ease;
}
.submit:hover{
    background-color: var(--primary-color);
}
/* footer styling */
.footer{
    background-color: var(--secondary-color );
    color: var(--white-color);
    padding: 20px 0;
    font-size: var(--font-size-l);

}
.sectionss-content{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
} 
.social-link{
    color: var(--white-color);
}


@media screen and (max-width:1024px) {
    .menu-section .menu-list{
         gap: 20px;
}
    .menu-section .menu-list  .menu-item{
          flex: 1 1 calc(100%/3 - 20px);
    } 
}
@media screen and ( max-width:900px) {
    :root{
    --font-size-m: 1.rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
    }
    .nav-ul{
    display: block;
    background:var(--white-color);
    position: fixed;
    left: -300px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    padding-top: 10px;
    transition: left 0.2s ease;
}

body.show-mobile-menu  .nav-ul{
    left: 0;
}

body.show-mobile-menu header::before{
    content:"";
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    backdrop-filter:blur(5px);
    background:rgba(0,0,0,0.2);
}


.nav-ul .nav-item .nav-link{
    font-size: var(--font-size-l);
    color:var(--dark-color);
    display: block;
    margin-top: 10px;
}
.navbar #close-button,
.navbar #open-button {
  display: block;
  font-size: var(--font-size-l);
}
.navbar #close-button{
    position: absolute;
    right: 30px;
    top: 30px;

}
.navbar #open-button{
color: var(--white-color);
}

/* gallery */
.gallery-section .gallery-list{
    gap: 30px;
}
.gallery-section .gallery-list .gallery-item{
            flex: 1 1 calc(50% - 30px);
}
.gallery-section .gallery-item .gallery-image{max-width: 250px;}
/* hero for small screens */

.hero-content{
flex-direction: column-reverse;
gap:50px;
padding: 30px 20px 20px;
justify-content: center;
text-align: center;

}

.hero-details :is(.subtitle, .des){
    max-width: 100%;
}

.hero-details .buttons{
     justify-content: center;
}

.hero-image{
  max-width: 245px;
  margin:0  0;
}

/* about responsive */
.about-section .about-content{
    flex-direction: column-reverse;
    gap: 70px;
    font-size: var(--font-size-m);
    margin: auto;
}
.about-details{
    max-width: 100%;
}
 .image-about{
    max-width: 200px;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
}

   .menu-section .menu-list{
         gap: 30px;
}
    .menu-section .menu-list  .menu-item{
        flex: 1 1 calc(50% - 30px);
    } 
    .menu-section .menu-list  .menu-item .menu-image{max-width: 140px;}

.form-input{
   max-width: 80%;
   align-items: center;
}
.contact-content{
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin:0 auto;
    gap: 20px;
}


.contact-list .contact-info{
    align-items: center;
    font-size: var(--font-size-m);
    flex-direction: row;  
    gap: 8px;
}


/*  categories  */
.beverages-section{
   background:var(--primary-color);  /*rgb(250, 250, 206)*/
  padding: 30px 15px; 
  min-height: auto;
}

.item-name {
  font-weight: bold;
  color: #ffda8f;
  margin: 0 0 6px 0;
  font-size: var(--font-size-m);
}

.item-desc {
  font-size:1.1rem;
 color:white;
  margin-top: 3px;
  max-width: 40%; 
}


.item-price {
  font-size: var(--font-size-m);
  font-weight: bold;
  color:white;
  white-space: nowrap;
  margin-left: 20px;
}
.back-btn{
    display: flex;
  justify-content: flex-start; 
  margin-top: 10px;
}
.btn{
  display: inline-block;
  padding: 5px 10px;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  background-color: var(--secondary-color);
  color:var(--white-color);
  border-radius: 20px;
  transition: transform 0.5s ease;
}
}
@media screen and (max-width:300px) {
.gallery-section .gallery-list .gallery-item{
    flex: 1 1 100%;
}
/* categories */
.beverages-section{
  padding: 20px 10px; 
  
}

.btn{
  display: inline-block;
  padding: 5px 8px;
  border-radius: 50px;
  max-width: 40%;
  font-size: 0.7rem;
}

.menu-i {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}

.item-name {
  color: #ffda8f;
  margin: 0 2px 5px 0;
  font-size: var(--font-size-s);
}

.item-desc {
  font-size:var(--font-size-s);
 color:white;
  margin-top: 3px;
  max-width: auto; 
}


.item-price {
  font-size: var(--font-size-s);
  margin-left: 5px 0 0;
  align-self:flex-start;

}
}
@media screen and (max-width:500px) {

.form-input{
   max-width: 80%;
   align-items: center;
}
.contact-content{
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    margin:0 auto;
    gap: 20px;
}


.contact-list .contact-info{
    align-items: center;
    font-size: var(--font-size-s);
    flex-direction: column;  
    gap: 8px;
}
}